<table class="table table-bordered fade-medium">
  <thead>
    <tr>
      <th class="col-id-admin">Id</th>
      <th class="col-name-admin">Name</th>
      <th class="col-surname-admin">Surname</th>
      <th class="col-bank-account-admin">Bank Account</th>
      <th class="col-balance-admin">Balance</th>
      <th class="col-status-admin">Role</th>
      <th class="col-controls-admin">Controlls</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.users as |user|}}
      <tr>
        <th>{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.bankAccount}}</td>
        <td>{{format-price user.balance}}</td>
        {{#each user.roles as |role index|}}
          {{#if (eq index 0)}}
            <td>{{role.name}}</td>
          {{/if}}
        {{/each}}
        <td>
          {{#link-to "account.admin.edit-user" user.id class="page-link-black pl-2 pr-2 pointer"}}
            <i class="material-icons">
              create
            </i>
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Page Navigation" class="pt-3">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link page-link-black pointer" aria-label="Previous" {{action "previousPage"}} role="button">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#if firstPageFar}}
      <li class="page-item"><a class="page-link page-link-black pointer" {{action "firstPage"}} role="button">1</a></li>
      <li class="page-item"><a class="page-link page-link-black cross">...</a></li>
    {{/if}}
    <li class="page-item"><a class="page-link page-link-black pointer" {{action "previousPage"}} role="button">{{previousPage}}</a></li>
    <li class="page-item"><a class="page-link page-link-black pointer">{{currentPage}}</a></li>
    <li class="page-item"><a class="page-link page-link-black pointer" {{action "nextPage"}} role="button">{{nextPage}}</a></li>
    {{#if lastPageFar}}
      <li class="page-item"><a class="page-link page-link-black cross">...</a></li>
      <li class="page-item"><a class="page-link page-link-black pointer" {{action "lastPage"}} role="button">{{model.pageChecker}}</a></li>
    {{/if}}
    <li class="page-item">
      <a class="page-link page-link-black pointer" aria-label="Next" {{action "nextPage"}} role="button">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>